body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(160deg, #ddd, #aaa) fixed;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #000;
}

nav {
    background: linear-gradient(#222222, #333333);
    height: 75px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

nav a {
    color: #aaa;
    margin: auto 25px;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}

nav a.active {
    color: #fff;
}

main {
    width: 100%;
    max-width: 1500px;
    height: 100%;
    flex: 100% 1;
    align-self: center;
}

main > h1 {
    text-align: center;
}

main > * {
    padding: 12px 25px;
}

.event {
    border: solid 1px #000;
    padding: 25px;
    display: grid;
    grid-template-columns: 100px auto 70px;
    align-items: flex-start;
    grid-template-areas:
        "day title img"
        "month location img"
        ". description img";
    gap: 16px 24px;
}

@media (max-width: 700px) {
    .event {
        grid-template-columns: 70px auto;
        grid-template-areas:
            "day title"
            "month location"
            "img description";
    }
}

.event + .event {
    margin-top: 25px;
}

img.tenu {
    width: 64px;
}

.event .day {
    font-weight: bold;
    font-size: 3rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2.year:first-of-type {
    margin-top: 0;
}

h2.year {
    margin-top: 48px;
    margin-bottom: 24px;
}

.event .day {
    grid-area: day;
}

.event .month {
    grid-area: month;
}

.event .year {
    grid-area: year;
}

.event .tenu {
    grid-area: img;
}

.event .description {
    grid-area: description;
}

.event .title {
    grid-area: title;
    margin: 0;
    font-size: 2rem;
}

.event .location {
    grid-area: location;
}

.event.canceled {
    position: relative;
}

.event.canceled * {
    filter: contrast(0.3) saturate(0);
}

.event.canceled::after {
    content: 'Abgesagt';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg);
    font-size: 4rem;
    text-shadow: 0 0 10px #bbb;
}